@import "../styles/custom.css";

:root {
  --background: #ffffff;
  --foreground: #33373D;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sf-pro-text), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

* {
  scrollbar-width: none;
}